.ArticleBanner {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;

    h2 {
        margin: 0;
        font-size: 1.50em;
        font-weight: 500;
    }

    ul {
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 0px;
        list-style: none;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 600;

        li {
            display: inline-block;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

/* layout column scale effect when hovered */
.layouts.article-banners-hover-effect {
    overflow: visible;

    > div {
        transition-property: transform, box-shadow, border-radius;
        transition-duration: .20s;
        background-color: #FFF;

        &:hover {
            transform: scale(1.04);
            border: none;
            z-index: 1;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
        }
    }
}