.ArticleBanner {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;

    h2 {
        margin: 0;
        font-size: 1.50em;
        font-weight: 500;
    }

    ul {
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 0px;
        list-style: none;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 600;

        li {
            display: inline-block;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}