.Background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: -1;
    border-radius: 20px;
    overflow: hidden;
}

/* GridLines */
.GridLines {
    -webkit-mask-image: linear-gradient(to left, transparent 0%, #FFF 20%);
    mask-image: linear-gradient(to left, transparent 0%, #FFF 20%);
}

/* grid dots */
.GridDots {
    position: absolute;

    &.centered-griddots {
        left: 0px;
        right: 0px;
        margin: 0 auto;
    }
}

/* circle */
.Circle {
    border-radius: 100%;
    position: absolute;
    background-color: #ffffff05;
}

/* image */
.Image {
    width: 100%;
    height: 500px;
    background-color: #F7F7F9;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;

    &.fade {
        -webkit-mask-image: linear-gradient(to left, transparent 0%, #FFF 75%);
        mask-image: linear-gradient(to left, transparent 0%, #FFF 75%);
    }
}