.FloatingView {
    position: absolute;
    bottom: -30px;
    right: -30px;
    width: 100px;
    height: 100px;
    max-width: calc(100% - 20px);
    border-bottom-right-radius: 0 !important;
    z-index: 1000;
    overflow-x: hidden;
    background-color: #2a2a72;
    background-attachment: fixed;

    > .label {
        line-height: 100px;
        text-align: center;
        color: #FFF;
        display: block;
    }
}

body.floating-view-active {
    .FloatingView {
        overflow-y: scroll;

        > .label {
            line-height: 2.8;
            text-transform: uppercase;
            font-size: .85em;
            font-weight: 500;
            border-bottom: solid 1px rgba(255, 255, 255, 0.20);
            //background-color: rgba(0, 0, 0, 0.1);
        }
    }

    .page {
        > *:not(.FloatingView) {
            filter: blur(5px);
            transform: scale(.98);

            * {
                pointer-events: none;
            }
        }
    }
}