.layouts {
    width: 100%;
    height: 100%;
    display: grid;
    overflow-y: scroll;
    overflow-x: hidden;

    /* col 2 */
    &.layout-col-2 {
        &.narrow-col-2 {
            grid-template-columns: 1fr 2fr;
        }
    }

    > div {
        padding: 30px 60px;
        box-sizing: border-box;
        position: relative;
        /*border: solid 1px red;
        height: 500px;*/
    }

    /* col 3 */
    &.layout-col-3 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 50%;

        > div {
            padding: 30px;
            min-width: 0;
        }
    }

    /* separator */
    &.separator {
        > div:first-child:after {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            width: 1px;
            height: 100%;
            background: #D7D7D9;
        }

        > div:last-child:before {
            content: "";
            position: absolute;
            top: 30px;
            left: -8px;
            width: 15px;
            box-sizing: border-box;
            border-radius: 20px;
            bottom: 30px;
            border: solid 1px #D7D7D9;
            background-color: #FFF;
        }
    }

    &.separator-dashedborder {
        > div {
            box-sizing: border-box;
            border-right: dashed 1px;
            border-top: dashed 1px;
            border-color: #d7d7d9;

            &:nth-child(-n+3) {
                border-top: 0;
            }

            &:nth-child(3n+3) {
                border-right: 0;
            }
        }
    }
}