.ListLabel {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

    li {
        margin-bottom: 20px;
    }

    .list-label {
        font-weight: 600;
        font-size: 0.90em;
        color: #b5b5b5;
    }

    .list-heading {
        margin: 0;
        font-size: 1.20em;
        font-weight: 500;
    }
}