.MyIntro {
    width: 100%;
    box-sizing: border-box;
    color: #FFF;

    p {
        line-height: 2.3;
    }

    .my-name {
        font-family: 'Poppins', sans-serif;
        font-size: 2.2em;
        font-weight: 600;
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .my-title {
        margin: 0;
        font-size: 1.05em;
        text-transform: uppercase;
    }
    
    .my-bio {
        margin: 35px 0px;
    }
}