.MyIntro {
    width: 100%;
    padding: 0px 30px;
    box-sizing: border-box;

    p {
        line-height: 2;
    }

    .my-name {
        font-family: 'Abril Fatface', sans-serif;
        font-size: 3.3em;
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 50px;
        line-height: 1;
    }
    
    .my-bio {
        margin-bottom: 60px;
    }
}