.ProjectButton {
    width: 100%;
    position: relative;

    a {
        width: 186px;
        height: 186px;
        line-height: 186px;
        letter-spacing: 3px;
        font-size: 24px;
        border-radius: 100%;
        margin: 0 auto;
        align-self: center;
        display: block;
        background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
        color: #FFF;
        text-align: center;
        //box-shadow: 0 0 0 .5em rgba(0, 0, 0, 0.05), 0 0 0 1.1em rgba(0, 0, 0, 0.1), 0 0 0 1.9em rgba(0, 0, 0, .05);
        transition: border-radius .10s;

        &:hover {
            border-top-right-radius: 2px;
        }
    }
}