html, body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  display: flex;
  vertical-align: middle;;
}