.page {
    &.page-theme-light {
        color: #666;

        .primary-color {
            color: #557CFF;
        }

        .bolder-color {
            border-color: #D7D7D9;
        }
    }

    &.page-theme-dark {
        color: #FFF;
    }
}